
<div class = "container-fluid" id = "ask">
  </br>
  </br>

  <form class = "form-group" action="<%=answer_path%>">
    <label class="form-contro" for="question">Speak to your coach</label>
    <input type="text" id="question" name="query" placeholder="what time is it?">
    <input class="btn btn-primary" type="submit" value="Go on!">
  </form>
</div>

